<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="shopping cart, evertec test">
    <meta name="author" content="Shopping cart for Evertec's test">
    <link rel="icon" href="assets/img/favicons/favicon.ico">

    <title>{% block title %} - Evertec test Application{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" media="all">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('css/hotsale.css') }}" rel="stylesheet" type="text/css" media="screen">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/jumbotron.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order-preview">Previsualizar orden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order-status">Estado de la orden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list-orders">Listar órdenes</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Mercado Liebre!</h1>
            <p>La primera tienda de comercio electrónico en Colombia.</p>
        </div>
    </div>

    <div class="container carrito">
        {% block content %}{% endblock %}
        <hr>
    </div> <!-- /container -->
</main>

{% block body %}{% endblock %}

<footer class="container">
    <p>&copy; 2020 CreaWeb, inc</p>
</footer>

{% block javascripts %}
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% endblock %}
</body>

</html>
